@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&family=Kaushan+Script&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.main{
    display: flex;
    margin-top: 50px;
    align-items: center;
    /* padding-left: 200px; */
    flex-direction: column;
}

.post {
    width: 700px;
    padding: 30px;
    margin-bottom: 25px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(117, 114, 114);
    border-left: 2px solid rgb(117, 114, 114);
    transition: transform .1s;
    border-radius: 1.5%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    
    
}

.post:hover {
    transform: scale(1.05);
    text-shadow: 2px 2px 4px #5554546e ;
    box-shadow: 5px 5px 10px #131212 ;

}

.post img {
    width: 100%;
    border-radius: 2%;
}

.post h1{
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    font-family: "poppins", cursive;
    color: rgb(249, 250, 198);
    padding: 20px 5px;

}

.post p {
    font-size: 14px;
    color: white;
    padding: 7px 7px 20px 7px;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-family: "Poppins";
    
}
.paginator button {
    border-radius: 10%;
    padding: 0 10px;
    margin: 0 10PX;
    

}



.paginator div {
    margin: 2px;
    font-size: 15px;
    font-family: "Poppins";
    
}

.paginator div:hover {
    font-weight: 500;
    text-shadow: 2px 2px 2px rgb(117, 114, 114);
   
    
}

.paginator .disabled {
    cursor: not-allowed;
    color: rgb(179, 179,179);
}

@media (max-width : 550px) {
    .post{
        width: 350px;
        padding: 10px ;
        padding-bottom: 30px;
        cursor: pointer;
    }
    .post h1{
        font-size: 20px;
        padding: 8px 2px;
    
    }

    .post p {
        font-size: 14px;
        padding: 5px 5px 10px 5px;
    }
    
}