

.header {
  width: 60vw;
  display: flex;
  align-self: center;
  margin-top: 15vh;
  margin-left: 15vw;
  padding: 7vw;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 2%;

  
}

@media (max-width : 550px) {
  .header{
    margin-top: 10vh;
    margin-left: 18vw;
    padding: 4vw;
    line-height: 1.4;
    font-size: 3vw;
  
  }

} 
